.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  margin-block: 2rem;
}

.imgContainer {
  flex: 1;
}
.formContainer {
  width: 70%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.form input,
.form textarea {
  background-color: var(--bgSoft);
  color: var(--textSoft);
  padding: 13px;
  border-width: none;
  outline: none;
  border-radius: 5px;
}

.btn {
  background-color: var(--btn);
  color: var(--text);
  cursor: pointer;
  padding: 7px 13px;
  border-width: none;
  outline: none;
  border-radius: 5px;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
}
